*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Segoe UI,sans-serif;
background:#0d1117;
color:#fff;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
}

.background{
position:fixed;
inset:0;
background:
radial-gradient(circle at 20% 20%,rgba(88,166,255,.2),transparent),
radial-gradient(circle at 80% 80%,rgba(56,139,253,.2),transparent);
}

.container{
width:90%;
max-width:650px;

background:rgba(22,27,34,.75);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.08);

border-radius:20px;

padding:35px;

box-shadow:
0 0 40px rgba(88,166,255,.15);
}

h1{
text-align:center;
color:#58a6ff;
margin-bottom:10px;
}

.subtitle{
text-align:center;
color:#8b949e;
margin-bottom:25px;
}

.password-box{
display:flex;
gap:10px;
margin-bottom:20px;
}

.password-box input{
flex:1;
padding:14px;
background:#010409;
border:1px solid #30363d;
border-radius:10px;
color:#58a6ff;
font-size:18px;
}

.password-box button{
padding:0 20px;
background:#238636;
border:none;
color:white;
border-radius:10px;
cursor:pointer;
}

.strength{
height:10px;
background:#30363d;
border-radius:50px;
overflow:hidden;
margin-bottom:10px;
}

#strengthBar{
height:100%;
width:50%;
transition:.3s;
}

#strengthText{
margin-bottom:20px;
}

.controls{
display:flex;
flex-direction:column;
gap:12px;
margin-bottom:20px;
}

.generate{
width:100%;
padding:15px;
background:#58a6ff;
border:none;
border-radius:12px;
font-size:16px;
font-weight:bold;
cursor:pointer;
}

footer{
text-align:center;
margin-top:20px;
color:#8b949e;
font-size:14px;
}
